.desktopContainer {
	background-image: url("../../assets/home/backgroundRight.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	display: flex;
	flex-shrink: 0;
	width: 100vw;
	overflow: hidden;
}

