.userPerfil-container{
      width: 100%;
      min-height: 100vh;
      background-image: url("../../assets/home/backgroundRight.png");
      background-repeat: repeat-y;
      display: flex;
flex-shrink: 0;
}