.formulario-participante-container {
	width: 100%;

	.nombre-boton-volver {
		width: 100%;
		height: 68px;
		border-radius: 10px;
		display: flex;
		flex-shrink: 0;
		justify-content: space-between;
		margin-bottom: 50px;

		.texto-formulario-participante {
			@include font-title;
			color: #099baa;
			font-size: 37px !important;
		}
		div {
			cursor: pointer;
			width: 146px;
			height: 68px;
			box-shadow: 5px 5px 22px rgba(0, 0, 0, 0.07);
			border-radius: 10px;
			background-color: #ffffff;
			display: flex;
			flex-shrink: 0;
			justify-content: space-evenly;
			align-items: center;
			padding: 20px;
			.texto-boton-volver {
				cursor: pointer;
				color: #ff6d00;
				@include font-text-bold;
				font-size: 18px !important;
				line-height: 16.8px;
			}
			img {
				cursor: pointer;
				width: 18px;
				height: 18px;
			}
		}
	}
	.formulario-agregar-participante {
		width: 100%;
		height: 752px;
		box-shadow: 5px 5px 22px rgba(0, 0, 0, 0.07);
		border-radius: 10px;
		background-color: #ffffff;
		@media only screen and (max-width: 700px) {
			height: 900px;
		}
		.formulario-inputs-container {
			display: flex;
			flex-shrink: 0;
			padding: 50px;
			width: 100%;
			.imagen-formulario {
				@media only screen and (max-width: 700px) {
					display: none !important;
				}
			}
			.input-empresa {
				display: flex;
				flex-shrink: 0;
				height: 15%;
				.input-select {
					display: flex;
					flex-shrink: 0;
					flex-direction: column;
					justify-content: space-around;
					width: 95%;
					label {
						color: #44546a;
						font-size: 16px !important;
						font-family: Fira Sans;
						font-size: 12px;
						font-weight: 300;
					}
					select {
						padding-left: 1vw;
						width: 90%;
						height: 41px;
						border-radius: 5px;
						border: 1px solid #d8d5e0;
						background-color: #fdfdfc;
						color: #44546a;
						font-size: 16px !important;
						@include font-text-light;
						&.error {
							border: red solid 3px;
						}
						@media only screen and (max-width: 700px) {
							width: 100%;
						}
					}
				}
			}

			.inputs-formulario {
				width: 70%;
				// display: flex;
				flex-shrink: 0;
				// flex-direction: column;
				@media only screen and (max-width: 700px) {
					width: 100%;
				}
				.medios-inputs {
					display: flex;
					flex-shrink: 0;
					height: 75%;
					@media only screen and (max-width: 700px) {
						flex-direction: column;
					}
					.input-left {
						display: flex;
						flex-shrink: 0;
						flex-direction: column;
						justify-content: space-around;
						width: 45%;
						@media only screen and (max-width: 700px) {
							width: 100%;
						}
						label {
							color: #44546a;
							font-size: 16px !important;
							@include font-text-light;
						}
						input {
							padding-left: 1vw;
							width: 90%;
							height: 41px;
							border-radius: 5px;
							border: 1px solid #d8d5e0;
							background-color: #fdfdfc;
							&.error {
								border: red solid 3px;
							}
							@media only screen and (max-width: 700px) {
								width: 95%;
							}
						}
						select {
							padding-left: 1vw;
							width: 90%;
							height: 41px;
							border-radius: 5px;
							border: 1px solid #d8d5e0;
							background-color: #fdfdfc;
							color: #44546a;
							font-size: 16px !important;
							@include font-text-light;
							&.error {
								border: red solid 3px;
							}
							@media only screen and (max-width: 700px) {
								width: 95%;
							}
						}
					}
					.input-right {
						display: flex;
						flex-shrink: 0;
						flex-direction: column;
						justify-content: space-around;
						width: 45%;
						@media only screen and (max-width: 700px) {
							width: 100%;
						}
						label {
							color: #44546a;
							font-size: 16px !important;
							@include font-text-light;
						}
						input {
							padding-left: 1vw;
							width: 90%;
							height: 41px;
							border-radius: 5px;
							border: 1px solid #d8d5e0;
							background-color: #fdfdfc;
							&.error {
								border: red solid 3px;
							}
							@media only screen and (max-width: 700px) {
								width: 95%;
							}
						}
						select {
							padding-left: 1vw;
							width: 90%;
							height: 41px;
							border-radius: 5px;
							border: 1px solid #d8d5e0;
							background-color: #fdfdfc;
							color: #44546a;
							font-size: 16px !important;
							@include font-text-light;
							&.error {
								border: red solid 3px;
							}
							@media only screen and (max-width: 700px) {
								width: 95%;
							}
						}
					}
				}
				.input-completo {
					display: flex;
					flex-shrink: 0;
					margin-top: 5px;
					flex-direction: column;
					label {
						color: #44546a;
						font-size: 16px !important;
						@include font-text-light;
						margin-bottom: 5px;
					}
					textarea {
						width: 85.5%;
						outline: none;
						height: 88px;
						border-radius: 5px;
						border: 1px solid #d8d5e0;
						background-color: #fdfdfc;
						@media only screen and (max-width: 700px) {
							width: 95%;
						}
					}
					input {
						width: 85.5%;
						outline: none;
						height: 41px;
						border-radius: 5px;
						border: 1px solid #d8d5e0;
						background-color: #fdfdfc;
					}
				}
			}
		}
		.botones {
			margin-top: 20px;
			align-self: center;
			width: 59.5%;
			display: flex;
			flex-shrink: 0;
			justify-content: flex-end;
			.boton-crear {
				margin-left: 50px;
				background-color: $orange-primary-color !important;
				border: none !important;
				color: white;
				@include font-text-button;
				width: 180px !important;
				height: 43px !important;
				border-radius: 22px !important;
				transition: 0.3s;
				outline: none !important;
				&:hover {
					transition: 0.3s;
					background-color: $blue-second-color !important;
				}
			}
			.boton-importar {
				background-color: transparent !important;
				border: $orange-primary-color 2px solid !important;
				@include font-text-button;
				width: 251px;
				height: 43px !important;
				border-radius: 22px !important;
				transition: 0.3s;
				outline: none !important;
				color: $orange-primary-color;
				display: flex;
				flex-shrink: 0;
				align-items: center;
				justify-content: space-around;
				&:hover {
					transition: 0.3s;
					border: $blue-second-color solid 2px !important;
					color: $blue-second-color !important;
				}
			}
		}
	}
}
