.WelcomePageContainer {
      width: 100% !important;
      height: 100vh !important;
      background-image: url(../../assets/home/backgroundRight.png);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      padding: 0 !important;
      overflow-y: hidden;
      display: flex;
flex-shrink: 0;
      justify-content: center;
      align-items: center;
}

.termsAndConditionsContainer {
      max-width: 811px;
      max-height: 750px;
      box-shadow: 5px 5px 22px rgba(0, 0, 0, 0.07);
      border-radius: 10px;
      background-color: #ffffff;
	padding: 15px;
	display: flex;
	flex-direction: column;
	margin:10px;
	h3 {
		width: 100%;
		color: $blue-second-color;
		@include font-title;
		font-size: 37px !important;
		text-align: center;
		margin-bottom: 35px;
  }
      .content-terms {
            @include font-text-light;
            width: 100%;
			max-height: 100%;
            overflow-y: scroll;
            text-align: center;
            line-height: 20px;
            padding: 20px;
			margin: 0;
			text-align:justify;
			height: 100%;
			p{
				text-align:justify;
			}

            &::-webkit-scrollbar {
                  width: 15px;
            }
            &::-webkit-scrollbar-track {
                  background: #eff3f8;
                  border-radius: 50px;
            }
            &::-webkit-scrollbar-thumb {
                  background: #44546a;
                  border-radius: 50px;
                }
      }
      input {
            position: relative;
            align-self: flex-end;
            margin-top: 25px;
	  }
	  @media (max-width: 1200px) {
			max-height: 100vh;
	  }
}
