$orange-primary-color: #F56C27;
$blue-second-color: #339CAA;

$success-color: #4faa33;
$error-color: #d50032;

$disabled-color: #919191;

/* ---------- Home Colors ---------- */

$background-color-blue: #00D2E9;
$background-color-gray: #F5F5F5;

/* ---------- Font Colors ---------- */





